@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$scrollbar-color: rgb(183, 183, 183);
$background-color: #f6f9fc;
$border-color: rgba(0, 0, 0, 0.15);
$controls-window-initial-width: 500px;

@mixin hidden-scroll() {
    &::-webkit-scrollbar {
        display: none;
    }

    overflow: auto;
    scrollbar-width: none;
}

@mixin text-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text() {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: white;
}

.storybox {
    &-scroll {
        scrollbar-color: $scrollbar-color transparent;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;

            &-thumb {
                border: 3px solid transparent;
                background-clip: padding-box;
                background-color: $scrollbar-color;
                border-radius: 10px;
            }

            &-corner {
                display: none;
            }
        }
    }

    &-container {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        @include hidden-scroll;
        overflow-x: auto;
        overflow-y: hidden;
        inset: 0;
        position: fixed;
        background-color: #434343;
        display: flex;

        & * {
            box-sizing: border-box;
        }

        input,
        textarea {
            color: #333;
        }
    }

    &-controls-story {
        border-top: 2px dashed #999;
        margin-top: 15px;
    }

    &-controls-window {
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        border: 1px solid $border-color;
        overflow: auto;
        @include text;
        flex: 0 0 $controls-window-initial-width;
        min-width: 200px;
        max-width: calc(100% - 220px);
    }

    &-active-story {
        background-color: $background-color;
        overflow: hidden;
        height: 100%;
        flex: 1;
        min-width: 200px;
    }

    &-window-resizer {
        cursor: ew-resize;

        &_stick {
            width: 2px;
            border-radius: 2px;
            height: 100%;
            background: #279cab;
        }

        &:hover {
            & .storybox-window-resizer_stick {
                background: #34cee3;
            }
        }

        padding: 0 4px;
        height: 100%;
    }

    &-controls-common {
        &_story-picker,
        &_bounds,
        &_stories-list {
            text-align: center;
            margin: 5px 0;
            padding: 5px;
            background: #3a3a3a;
            border-radius: 2px;
            border: 1px solid $border-color;
        }

        &_bounds {
            display: flex;

            & > div {
                flex: 1;
                text-align: center;
            }
        }

        &_story-picker {
            display: flex;
            align-items: center;
            flex-direction: column;

            input {
                flex: 1;
                margin-left: 15px;
                border-radius: 2px;
                outline: none;
                border: none;
                padding: 5px;
                font-family: inherit;
            }

            &-name {
                background: #358840;
                width: 100%;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
        }

        &_story-search {
            @include hidden-scroll;
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        &_stories-list {
            max-height: 125px;
            overflow-y: auto;

            &-item {
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.2);
                cursor: pointer;
                &:not(:last-of-type) {
                    margin-bottom: 5px;
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    &-control {
        &-common {
            &_label {
                margin-right: 10px;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                flex: 0 0 150px;
            }

            &_wrapper {
                margin: 0 20px;
                padding: 20px 0;

                &:not(:last-of-type) {
                    border-bottom: 1px solid #2c2a2f;
                }

                display: flex;
                user-select: none;
            }
        }

        &-boolean {
            &_label {
                padding-right: 10px;
            }

            &_button {
                padding: 10px;
                margin: 5px;
                border: 1px solid #7b7448;
                border-radius: 10px;
                cursor: pointer;
                text-transform: capitalize;

                &-group {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }

        &-button {
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid gray;
            font-family: inherit;

            &:active {
                border: 1px solid white;
            }
        }

        &-checkbox {
            &_label {
                padding-right: 10px;
            }

            &_button {
                padding: 10px;
                margin: 5px;
                border: 1px solid #58647b;
                border-radius: 10px;
                cursor: pointer;
                text-transform: capitalize;

                &-group {
                    display: flex;
                    flex-wrap: wrap;
                }

                input {
                    pointer-events: none;
                }
            }
        }

        &-number {
            &_input {
                flex: 1;
                padding: 10px;
                border-radius: 5px;
                border: none;
                outline: none;
            }

            &_range-output {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 90px;
                padding: 0 10px;
            }
        }

        &-radio {
            &_button {
                padding: 10px;
                margin: 5px;
                border: 1px solid #7b5858;
                border-radius: 10px;
                cursor: pointer;
                text-transform: capitalize;

                &-group {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                }
            }

            &_label {
                padding-right: 10px;
            }
        }

        &-string {
            &_input {
                flex: 1;
                padding: 10px;
                border-radius: 5px;
                border: none;
                outline: none;
            }
        }
    }
}

body.storybox-inherit-cursor * {
    cursor: inherit !important;
}
